.env
history/bad_fun.json
__pycache__
echosee.egg-info
.DS_Store
logs/*
utils/__pycache__
utils/__pycache__/utils.cpython-310.pyc
logs/agent.log
/Users/ezelbayraktar/Development/Projects/EchoSee/logs/agent.log
logs/agent.log