boto3==1.35.24
datasets==2.21.0
ffmpeg==1.4
FuncHub==0.1.4
FuncHub==0.1.4
groq==0.11.0
nltk==3.9.1
numpy==2.1.1
PyAudio==0.2.14
pydub==0.25.1
python-dotenv==1.0.1
scipy==1.14.1
soundfile==0.12.1
torch==2.4.1
transformers==4.43.3
TTS==0.22.0
